<!-- <div class="container"> -->
 <div class="row-fluid">
    <h3>News</h3>
	<ul class="unstyled">
          {% for post in site.posts limit:2 %}
          <li>
            <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.summary }}</p>
          </li>
          {% endfor %}
    </ul>
    <h3>GitHub Repos</h3>

    <ul>
      <li> <a class="btn btn-info btn-small" class="myButton" href="{{ site.url }}#myA4C" role="button" data-toggle="modal" style="width: 150px">Alien4Cloud-DEEP</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="{{ site.url }}#myCIP" role="button" data-toggle="modal" style="width: 150px">Cloud Information Provider - DEEP</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="{{ site.url }}#myDEEPaaS" role="button" data-toggle="modal" style="width: 150px">DEEPaaS API</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="{{ site.url }}#myIM" role="button" data-toggle="modal" style="width: 150px">Infrastructure Manager</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="{{ site.url }}#myPaaSO" role="button" data-toggle="modal" style="width: 150px">PaaS Orchestrator</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="{{ site.url }}#myOrchent" role="button" data-toggle="modal" style="width: 150px">Orchent</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="{{ site.url }}#myToscaT" role="button" data-toggle="modal" style="width: 150px">TOSCA types & templates</a>
      <li> <a class="btn btn-info btn-small" class="myButton" href="{{ site.url }}#myuDocker" role="button" data-toggle="modal" style="width: 150px">udocker</a>
    </ul>   

    <h3>About DEEP-HybridDataCloud Release</h3>
    <ul><li> <a href="https://confluence.deep-hybrid-datacloud.eu/display/DS/DEEP+Software"> DEEP-HDC Software LifeCycle Management Pages</a></ul>
<!--    
    <a href="https://github.com/italiangrid"><img style="position: absolute; top: 40px; right: 0; border: 0;" src="{{ site.url }}/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
-->    
  </div>
<!-- </div> -->

    <!-- Button to trigger modal for Alien4Cloud-DEEP -->
<div id="myA4C" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">Alien4Cloud-DEEP GitHub repos</h3>
    </div>
    <div class="modal-body">
        <ul>
          <li><a href="https://github.com/indigo-dc/alien4cloud-deep">alien4cloud-deep</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

    <!-- Button to trigger modal for CloudInformationProvider-DEEP -->
<div id="myCIP" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">CloudInformationProvider-DEEP GitHub repos</h3>
    </div>
    <div class="modal-body">
        <ul>
          <li><a href="https://github.com/indigo-dc/cloud-info-provider-deep">cloud-info-provider-deep</a>
          <li><a href="https://github.com/indigo-dc/ansible-role-cloud-info-provider">Ansible Role for CloudInformationProvider</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
  
    <!-- Button to trigger modal for DEEPaaS API -->
<div id="myDEEPaaS" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">DEEPaaS GitHub repos</h3>
    </div>
    <div class="modal-body">
        <ul>
          <li><a href="https://github.com/indigo-dc/DEEPaaS">DEEPaaS API</a>
          <li><a href="https://github.com/indigo-dc/ansible-role-deepaas">Ansible Role for DEEPaaS</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
 

    <!-- Button to trigger modal for IM -->
<div id="myIM" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">Infrastructure Manager GitHub repos</h3>
    </div>
    <div class="modal-body">
        <ul>
          <li><a href="https://github.com/indigo-dc/im">im</a>
          <li><a href="https://github.com/indigo-dc/im/blob/master/ansible_install.yaml">Ansible Role for IM</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

    <!-- Button to trigger modal for PaaS Orchestrator -->
<div id="myPaaSO" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">PaaS Orchestrator GitHub repos</h3>
    </div>
    <div class="modal-body">
        <ul>
          <li><a href="https://github.com/indigo-dc/orchestrator">orchestrator</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

    <!-- Button to trigger modal for Orchent -->
<div id="myOrchent" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">Orchent GitHub repos</h3>
    </div>
    <div class="modal-body">
        <ul>
          <li><a href="https://github.com/indigo-dc/orchent">orchent</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

    <!-- Button to trigger modal for TOSCA types & Templates -->
<div id="myToscaT" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">TOSCA types & templates GitHub repos</h3>
    </div>
    <div class="modal-body">
        <ul>
          <li><a href="https://github.com/indigo-dc/tosca-types">TOSCA types</a>
          <li><a href="https://github.com/indigo-dc/tosca-templates">TOSCA templates</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

    <!-- Button to trigger modal for udocker -->
<div id="myuDocker" class="modal hide fade" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3 id="myModalLabel">udocker GitHub repos</h3>
    </div>
    <div class="modal-body">
        <ul>
          <li><a href="https://github.com/indigo-dc/udocker">udocker</a>
          <li><a href="https://github.com/indigo-dc/udocker/blob/master/ansible_install.yaml">Ansible Role for udocker</a>
        </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
